/* Глитч-квадраты */
.glitch-square {
    position: absolute;
    background: rgba(255, 255, 255, 0.2); /* Полупрозрачные квадраты */
    animation: glitch-square-animation 1.5s infinite ease-in-out;
    z-index: 1; /* Под основным контентом */
}

/* Анимация появления и исчезновения квадрата */
@keyframes glitch-square-animation {
    0% {
        opacity: 0;
        transform: translate(0, 0) scale(0);
    }
    10% {
        opacity: 1;
        transform: translate(0, 0) scale(1);
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(0, 0) scale(0);
    }
}